.item {
  border: 1px solid #ccc;
  width: 100%;
  padding: 20px;
  cursor: pointer;
  position: relative;
  display: flex;
  gap: 10px;
  align-items: center;

  img {
    width: 100px;
    aspect-ratio: 1;
    margin-bottom: 15px;
    object-fit: contain;
  }

  .productName {
    font-size: 20px;
    color: #333;
  }

  .productPrice {
    color: darkgreen;
    font-weight: bold;
  }

  .count {
    font-weight: 700;
  }

  button {
    padding: 10px;
    font-size: 20px;
  }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 1);
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    z-index: 1000;
  }
  
  .modal p {
    color: #fff;
  }
  
  .modal button {
    margin-top: 10px;
    padding: 8px 16px;
    border: none;
    border-radius: 4px;
    background-color: #2d4373;
    color: #fff;
    cursor: pointer;
  }
  
  .modal button:hover {
    background-color: #0056b3;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  margin-top: 20px;
}

.close {
  position: absolute;
  top: 5px;
  right: 10px;
  cursor: pointer;
  color: #fff;
}